@model BookStore.Models.BookModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<ul>
    <li>@Model.Name</li>
    <li>@Model.CategoryName</li>
    <li>@Model.Author</li>
    <li>@Model.Publisher</li>
    <li>@Model.PublishedDate</li>
    <li>@Model.Description</li>
</ul>

